
@import url("https://fonts.googleapis.com/css?family=Montserrat:normal,bold");
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;800&display=swap');

@keyframes blinkingText {
    from{color: white;} to {color: transparent;}
}

:root {
    --eerie-black: #1F2124ff;
    --shadow-blue: #7C8CA8ff;
    --independence: #475976ff;
    --my-sky-blue: rgb(113, 148, 209)
}

* {
    font-family: 'Chivo Mono', monospace;
    box-sizing: border-box;
}

body {
    background-color: #1F2124ff;
}

.row {
    margin: 0;
    padding: 0;
}

.main-page {
    background-color: #1F2124ff;
    color: white;
    font-size: 16px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.blink {
    animation-name: blinkingText;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

.main-page h1 {
    font-size: 88px;
    font-weight: normal;
}

.main-right {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    padding: 20px;
}

.main-left {
    display: flex;
    justify-content: center;
}

.main-page img {
    width: 80%;
    margin: 10px;
}

.rwd-space {
    display: none;
}

.sm-title {
    display: none;
}

@media (max-width: 1000px) {
    .main-page {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }
    .header-nav {
        justify-content: center;
        margin-top: 20px;
    }
    .main-left {
        margin: 0;
        padding: 0;
    }
    .main-right {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .main-right h1 {
        font-size: 40px;
    }
    .main-right br {
        display: none;
    }
    .lg-title {
        display: none;
    }
    .sm-title {
        display: block;
    }
}
